<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Client</title>
</head>
<body>
<!-- Modal Edit\Add Client-->
<div th:fragment="clientEditFragment">
    <div id="editClientModal" class="modal fade" tabindex="-1" aria-labelledby="editClientModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editClientModalLabel">Add or Edit Client</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class id="editClient">
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="client_id" name="client_id"
                                           value=""/>
                                </div>
                                <div class="form-group">
                                    <label for="client_name">Client Name</label>
                                    <input type="text" class="form-control" required="required" id="client_name"
                                           name="client_name" value=""/>
                                </div>
                                <br>
                                <div class="form-group mb-3">
                                    <select class="form-select" th:object="${clientTypes}" id="dropClientType"
                                            onchange="update2()">
                                        <option value="0">Select Client Type</option>
                                        <option th:each="clientType : ${clientTypes}"
                                                th:value="${clientType.client_type_id}"
                                                th:text="${clientType.client_type_name}"
                                                th:required="required"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required"
                                           id="clientType" name="client_type_id" value="" hidden />
                                </div>
                                <br>
                                <button type="submit" class="btn btn-outline-primary" value="save">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>