<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Client Type</title>
</head>

<body>
<!-- Modal Edit\Add Repair Type-->
<div th:fragment="editClientTypeFragment">
    <div id="editClientTypeModal" class="modal fade" tabindex="-1" aria-labelledby="editClientTypeModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editClientTypeModalLabel">Add or Edit Client Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class id="editClientType">
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="client_type_id" name="client_type_id"
                                           value=""/>
                                </div>
                                <div class="form-group">
                                    <label for="client_type_name">Client Type Name</label>
                                    <input type="text" class="form-control" required="required" id="client_type_name"
                                           name="client_type_name"
                                           value=""/>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-outline-primary" value="save">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>