<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Modal Full Info-->
<div th:fragment="fullInfoFragment">
    <div id="fullInfoModal" class="modal fade" tabindex="-1" aria-labelledby="fullInfoModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fullInfoLabel">Full Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class id="fullInfo">
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="client_name">Client</label>
                                    <input type="text" class="form-control" required="required"
                                           id="client_name" name="client_name" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="repair_type_name">Repair Type</label>
                                    <input type="text" class="form-control" required="required"
                                           id="repair_type_name" name="repair_type_name" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="repair_address">Repair Address</label>
                                    <input type="text" class="form-control" required="required"
                                           id="repair_address" name="repair_address" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="repair_description">Repair Description</label>
                                    <input type="text" class="form-control" required="required"
                                           id="repair_description" name="repair_description" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="device_name">Device</label>
                                    <input type="text" class="form-control" required="required"
                                           id="device_name" name="device_name" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="full_cost">Обьявленная стомость работ</label>
                                    <input type="text" class="form-control" required="required"
                                           id="full_cost" name="full_cost" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="outlay">Затраты</label>
                                    <input type="text" class="form-control" required="required"
                                           id="outlay" name="outlay" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="paid">Получено</label>
                                    <input type="text" class="form-control" required="required"
                                           id="paid" name="paid" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="arrears">Задолжность</label>
                                    <input type="text" class="form-control" required="required"
                                           id="arrears" name="arrears" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="profit">Прибыль</label>
                                    <input type="text" class="form-control" required="required"
                                           id="profit" name="profit" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="repair_date">Repair Date</label>
                                    <input type="date" class="form-control" required="required"
                                           id="repair_date" name="repair_date" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="status_name">Статус</label>
                                    <input type="text" class="form-control" required="required"
                                           id="status_name" name="status_name" value="" disabled/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>