<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Modal Full Info-->
<div th:fragment="fullInfoFragment">
    <div id="fullInfoModal" class="modal fade" tabindex="-1" aria-labelledby="fullInfoModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fullInfoLabel">Full Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class id="fullInfo">
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="clientName">Клиент</label>
                                    <input type="text" class="form-control" required="required"
                                           id="clientName" name="clientName" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="repairTypeName">Вид ремонта</label>
                                    <input type="text" class="form-control" required="required"
                                           id="repairTypeName" name="repairTypeName" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="repairAddress">Адрес проведения ремонта</label>
                                    <input type="text" class="form-control" required="required"
                                           id="repairAddress" name="repairAddress" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="repairDescription">Описание</label>
                                    <input type="text" class="form-control" required="required"
                                           id="repairDescription" name="repairDescription" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="deviceName">Техника</label>
                                    <input type="text" class="form-control" required="required"
                                           id="deviceName" name="deviceName" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="fullCost">Обьявленная стомость работ</label>
                                    <input type="text" class="form-control" required="required"
                                           id="fullCost" name="fullCost" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="outlay">Затраты</label>
                                    <input type="text" class="form-control" required="required"
                                           id="outlay" name="outlay" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="paid">Получено</label>
                                    <input type="text" class="form-control" required="required"
                                           id="paid" name="paid" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="arrears">Задолжность</label>
                                    <input type="text" class="form-control" required="required"
                                           id="arrears" name="arrears" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="profit">Прибыль</label>
                                    <input type="text" class="form-control" required="required"
                                           id="profit" name="profit" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="repairDate">Дата проведения ремонта</label>
                                    <input type="date" class="form-control" required="required"
                                           id="repairDate" name="repairDate" value="" disabled/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="statusName">Статус</label>
                                    <input type="text" class="form-control" required="required"
                                           id="statusName" name="statusName" value="" disabled/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>