<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Edit Repair</title>
</head>
<body>
<!-- Modal Add Llc Outlay-->
<div th:fragment="llcOutlayAddFragment">
    <div id="llcOutlayAddModal" class="modal fade" tabindex="-1"
         aria-labelledby="llcOutlayAddModal" aria-hidden="true"
         th:action="@{/statistic/saveLlcOutlay}" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="llcOutlayModalAddLabel">Статьи расходов</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class id="llcOutlay">
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-12">
                                <br>
                                <div class="form-group mb-3">
                                    <select class="form-select"
                                            id="dropSubCostItem"
                                            th:object="${subCostItems}"
                                            onchange="update6()">
                                        <option value="0">Выбрать статью</option>
                                        <option th:each="subCostItem : ${subCostItems}"
                                                th:value="${subCostItem.subCostItemId}"
                                                th:text="${subCostItem.subCostItemName}"
                                                selected=""></option>
                                    </select>
                                </div>
                                <br>
                                <div class="form-group mb-3">
                                    <select class="form-select" th:object="${costItems}" id="dropCostItem"
                                            onchange="update7()">
                                        <option value="0">Выбрать подстатью</option>
                                        <option th:each="costItem : ${costItems}"
                                                th:value="${costItem.costItemId}"
                                                th:name="${costItem.subCostItemId}"
                                                th:text="${costItem.subCostItemName}"></option>
                                    </select>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="description">Описание</label>
                                    <input type="text" class="form-control" required="required"
                                           id="description" name="description" value=""/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="cost">Сумма</label>
                                    <input type="text" class="form-control" required="required"
                                           id="cost" name="cost" value=""/>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="date">Дата проведения работ</label>
                                    <input type="date" class="form-control" required="required"
                                           id="date" name="date" value=""/>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" class="form-control"
                                           id="llcOutlayId" name="llcOutlayId" value=""/>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" class="form-control"
                                           id="subCostItem0" name="subCostItem" value=""/>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" class="form-control"
                                           id="costItem" name="costItemId" value=""/>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-outline-primary"
                                        value="save">Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>