<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Repair</title>
</head>
<body>
<!-- Modal Add Llc Outlay-->
<div th:fragment="llcOutlayAddFragment">

    <div id="llcOutlayAddModal" class="modal fade" tabindex="-1"
         aria-labelledby="llcOutlayAddModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="llcOutlayModalAddLabel">Статьи расходов</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class id="llcOutlay">
                        <div class="container">
                            <div class="col-12">
                                <form class="row gy-2 gx-3 " action="#" th:action="@{/stat/new}" th:object="${outlay}" method="post">
                                    <div class="col-auto" >
                                        <select class="form-select"
                                                id="dropItemsItemId"
                                                name="dropItemsItemId"
                                                th:object="${items}"
                                                onchange="update8()"
                                                required
                                        >
                                            <option value="">Выбрать статью</option>
                                            <option th:each="item : ${items}"
                                                    th:value="${item.itemId}"
                                                    th:text="${item.itemName}"
                                                    th:id="${item.itemId}"
                                            >
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-auto">
                                        <select class="form-select"
                                                id="dropSubItems"
                                                name="dropSubItems"
                                                th:object="${subItems}"
                                                onchange="update7()"
                                                required
                                        >
                                            <option value="">Выбрать подстатью</option>
                                            <option th:each="subItem : ${subItems}"
                                                    th:value="${subItem.subitemId}"
                                                    th:text="${subItem.subitemName}"
                                                    th:rel="${subItem.itemsItemId}"
                                            >
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control"
                                               th:field="*{description}"
                                               id="description" placeholder="Enter description"/>
                                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></p>
                                    </div>
                                    <div class="col-auto">
                                        <input type="number" class="form-control"
                                               th:field="*{price}"
                                               id="price" placeholder="Enter price"/>
                                        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error"></p>
                                    </div>
                                    <div class="col-auto">
                                        <input type="date" class="form-control" required="required"
                                               id="date" name="date" value=""/>
                                    </div>
                                    <div class="col-auto">
                                        <input type="hidden" class="form-control"
                                               id="itemsItemId0" name="itemsItemId" value=""/>
                                    </div>
                                    <div class="col-auto">
                                        <input type="hidden" class="form-control"
                                               id="subitemsSubitemId" name="subitemsSubitemId" value=""/>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-outline-primary"
                                                value="save">Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>