<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Статьи расходов</title>
    <link rel="stylesheet" href="../../static/css/stat.css">
</head>
<body>
<div th:fragment="llcOutlayFragment">
    <div id="llcOutlayModal" class="modal fade" tabindex="-1"
         aria-labelledby="llcOutlayModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="llcOutlayModalLabel">
                        Добавление статей расходов/список статей расходов</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class id="llcOutlay">
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-12">

                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check"
                                           name="btnradio" id="btnradio1" autocomplete="off" value="item">
                                    <label class="btn btn-outline-primary"
                                           for="btnradio1">Добавить Статью</label>

                                    <input type="radio" class="btn-check"
                                           name="btnradio" id="btnradio2" autocomplete="off" value="subItem">
                                    <label class="btn btn-outline-primary"
                                           for="btnradio2">Добавить Подстатью</label>
                                </div>
                                <br>
                                <br>
                                <div class="item box">
                                    <div>
                                        <form th:action="@{/stat/saveItem}" method="post">
                                            <div class="form-group">
                                                <label for="itemName">Добавить статью расхода
                                                    (Введите название новой статьи расходов)</label>
                                                <input type="text" class="form-control" required="required"
                                                       id="itemName" name="itemName" value=""/>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" class="form-control"
                                                       id="itemId" name="itemId" value=""/>
                                            </div>
                                            <br>
                                            <button type="submit"
                                                    name="saveItem"
                                                    class="btn btn-outline-primary"
                                                    value="save">
                                                Добавить статью
                                            </button>
                                            <br>
                                        </form>
                                    </div>
                                </div>
                                <div class="subItem box">
                                    <form th:action="@{/stat/saveSubItem}" method="post">
                                        <div>
                                            <div class="form-group">
                                                <select class="form-select"
                                                        id="dropItems"
                                                        th:object="${items}"
                                                        onchange="update6()">
                                                    <option value="0">Выбрать статью</option>
                                                    <option th:each="item : ${items}"
                                                            th:value="${item.itemId}"
                                                            th:text="${item.itemName}"></option>
                                                </select>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="subitemName">Название подстатьи</label>
                                                <input type="text" class="form-control"
                                                       id="subitemName" name="subitemName" value=""/>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" class="form-control"
                                                       id="itemsItemId" name="itemsItemId" value=""/>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" class="form-control"
                                                       id="subitemId" name="subitemId" value=""/>
                                            </div>
                                            <br>
                                            <button type="submit"
                                                    class="btn btn-outline-primary"
                                                    value="save">
                                                Добавить подстатью
                                            </button>
                                            <br>
                                        </div>
                                    </form>
                                </div>
                                <br>
                                <br>
                                <br>
                                <strong>Статьи расходов: </strong>
                                <br>
                                <br>
                                <div class="accordion"
                                     th:each="item, iterStat : ${items}"
                                     th:with="itemId=${item.getItemId()}"
                                     th:id="${item.getItemId()}">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingCostItems">
                                            <button class="accordion-button"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseCostItems"
                                                    aria-expanded="false"
                                                    aria-controls="collapseCostItems"
                                                    th:text="${item.getItemName()}">
                                            </button>
                                        </h2>
                                        <div id="collapseCostItems"
                                             class="accordion-collapse collapse show"
                                             aria-labelledby="headingCostItems"
                                             data-bs-parent="#accordionCostItems">
                                            <div class="accordion-body"
                                                 th:each="subItem : ${subItems}"
                                                 th:text="${subItem.getSubitemName()}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
