<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Статьи расходов</title>
    <link rel="stylesheet" href="../../static/css/stat.css">
</head>
<body>
<table>
    <div th:fragment="registerFragment">
        <div id="registerFragmentModal" class="modal fade" tabindex="-1" aria-labelledby="registerFragmentModal"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerFragmentLabel">
                            Регистрация нового пользователя</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class id="registerFragmentAdd">
                        <div class="modal-body">
                            <div class="container">
                                <div class="col-12">
                                    <form th:action="@{/register}" method="post" th:object="${user}">
                                        <div class="form-group">
                                            <label>User name</label>
                                            <input type="text" class="form-control" th:field="*{username}" placeholder="Enter user name">
                                            <small class="text-danger" th:each="err: ${#fields.errors('username')}" th:text="${err}"></small>
                                        </div>
                                        <div class="form-group">
                                            <label>User role</label>
                                            <input type="text" class="form-control" th:field="*{role_id}" placeholder="Enter role id">
                                            <small class="text-danger" th:each="err: ${#fields.errors('role_id')}" th:text="${err}"></small>
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
                                            <small class="text-danger" th:each="err: ${#fields.errors('password')}" th:text="${err}"></small>
                                        </div>
                                        <div class="form-group">
                                            <label>Repeat password</label>
                                            <input type="password" class="form-control" th:field="*{matchingPassword}" placeholder="Repeat password">
                                            <small class="text-danger" th:each="err: ${#fields.errors('matchingPassword')}" th:text="${err}"></small>
                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</table>
</body>
</html>
