.error {
    color: darkred;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-wrap: nowrap;
}

.indexFont {
    font-family: "Lucida Console", monospace;

}

.center {
    display: block;
    margin: 0 auto;
}