<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div th:replace="~{custom/pagesTemplate :: css-head}"></div>
    <div th:replace="~{custom/pagesTemplate :: js-head}"></div>

    <title>Главная</title>
</head>

<body>

<img th:src="@{/images/logo.jpg}" class="center">
<br>
<div class="indexFont">
    <div style="text-align: center;">OJC "SPACE SHIP CRAFT ENGINEERING"</div>
</div>
<br>
<br>
<div class="d-grid gap-2 col-6 mx-auto">
    <div class="text-center" sec:authorize="isAnonymous()">
        <a href="" th:href="@{/login}">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-secondary" name="LogIn" type="button">ВОЙТИ</button>
            </div>
        </a>
    </div>
    <br>
    <div class="text-center" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
        <a href="" th:href="@{/repair-service}">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-secondary" name="Register" type="button">Заказы</button>
            </div>
        </a>
    </div>
    <br>
    <div class="text-center" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
        <a href="" th:href="@{/management}">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-secondary" name="Register" type="button">Данные для заказов</button>
            </div>
        </a>
    </div>
    <br>
    <div class="text-center" sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <a href="" th:href="@{/stat}">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-secondary" name="Register" type="button">Расходы</button>
            </div>
        </a>
    </div>
    <br>
    <div class="text-center" sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <a href="" th:href="@{/events}">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-secondary" name="Register" type="button">Календарь</button>
            </div>
        </a>
    </div>
    <br>
    <div class="text-center" sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <a href="" th:href="@{/adminPanel}">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-secondary" name="Register" th:href="@{/adminPanel}" type="button">
                    Регистрация пользователя
                </button>
            </div>
        </a>
    </div>
    <br>
    <div class="text-center" sec:authorize="authenticated">
        <a>
            <form>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-outline-secondary" data-placement="top"
                       data-toggle="tooltip" th:href="@{/logout}" title="Выйти"
                    ><i class="fa-solid fa-joint"></i></a>
                </div>
            </form>
        </a>
    </div>
</div>
</body>
</html>