<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div th:replace="~{custom/pagesTemplate :: css-head}"></div>
    <div th:replace="~{custom/pagesTemplate :: js-head}"></div>

    <title>Главная</title>
</head>

<body>

<img th:src="@{/images/logo.jpg}" class="center">
<br>
<div class="indexFont">
    <div style="text-align: center;">OJC "SPACE SHIP CRAFT ENGINEERING"</div>
    <br>
    <div style="text-align: center;" sec:authorize="isAnonymous()">
        ЗАЛОГИНЬСЯ
    </div>
</div>
<br>
<br>
<div class="text-center" sec:authorize="isAnonymous()">
    <a href="" th:href="@{/login}">
        <button name="LogIn" type="button" class="btn btn-primary">ВОЙТИ</button>
    </a>
</div>
<br>
<div class="text-center" sec:authorize="hasAnyRole('ROLE_ADMIN')">
    <a href="" th:href="@{/register}">
        <button name="Register" type="button" class="btn btn-warning">Регистрация пользователя</button>
    </a>
</div>
<br>
<div class="text-center" sec:authorize="hasAnyRole('ROLE_ADMIN')">
    <a href="" th:href="@{/stat}">
        <button name="Register" type="button" class="btn btn-warning">Расходы</button>
    </a>
</div>
<br>
<div class="text-center" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
    <a href="" th:href="@{/repair-service}">
        <button name="Register" type="button" class="btn btn-warning">Заказы</button>
    </a>
</div>
<br>
<div class="text-center" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
    <a href="" th:href="@{/management}">
        <button name="Register" type="button" class="btn btn-warning">Данные для заказов</button>
    </a>
</div>
<br>
<div class="text-center" sec:authorize="hasAnyRole('ROLE_ADMIN')">
    <a href="" th:href="@{/events}">
        <button name="Register" type="button" class="btn btn-warning">Календарь</button>
    </a>
</div>
<br>
<div class="text-center" sec:authorize="authenticated">
    <a>
        <form>
            <a class="btn btn-outline-primary" data-placement="top"
               data-toggle="tooltip" th:href="@{/logout}" title="Выйти"
            ><i class="fa-solid fa-joint"></i></a>
        </form>
    </a>
</div>
</body>
</html>