<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:replace="custom/pagesTemplate :: css-head"></div>
    <div th:replace="custom/pagesTemplate :: js-head"></div>
    <title>LogIN</title>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form th:action="@{/authUser}" method="post" class="row g-3">
                    <h4>Ведите имя пользователя и пароль</h4>
                    <div class="col-12">
                        <label for="username">Имя пользователя</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter user name">
                        <small class="form-text text-danger" th:if="${param.error != null}">Не верные имя пользователя или пароль</small>
                    </div>
                    <div class="col-12">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <br>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">ВОЙТИ</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


</body>
</html>