<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" href="../static/css/management.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.2/umd/popper.min.js"
            integrity="sha512-aDciVjp+txtxTJWsp8aRwttA0vR2sJMk/73ZT7ExuEHv7I5E6iyyobpFOlEFkq59mWW8ToYGuVZFnwhwIUisKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"
            integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <script th:src="@{../js/clientForm.js}" src="../static/js/clientForm.js"></script>
    <script th:src="@{../js/dataTable.js}" src="../static/js/dataTable.js"></script>

    <title>Management</title>

</head>
<body>
<div th:insert="/custom/navBar"></div>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>Клиенты</strong> &nbsp; Всего клиентов : &nbsp;
                <div th:text="${clients.size()}"></div>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="col-12">
                    <table id="clients" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Клиент ID</th>
                            <th scope="col">Название клиента</th>
                            <th scope="col">Тип клиента</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(clients)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="client : ${clients}">
                            <th scope="row" th:text="*{client.getClient_id()}"></th>
                            <td th:text="${client.getClient_name()}"></td>
                            <td th:text="${client.getClientType().getClient_type_name()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a th:href="@{findClient/(*{client.client_id})}"
                                       class="btn btn-outline-warning editClientBtn"
                                       data-bs-toggle="modal" data-bs-target="#editClientModal">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/repair-service/management/delete-client/{id}(id=${client.client_id})}">
                                        Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <!-- Button trigger modal  Edit Client -->
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-primary clientModalBtn"
                                data-bs-toggle="modal" data-bs-target="#editClientModal">
                            Добавить нового клиента
                        </button>
                    </div>
                    <!-- Modal Edit Client -->
                    <form th:action="@{/repair-service/management/create-client}" method="post">
                        <div th:insert="modals/clientEditFragment"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>Техника</strong> &nbsp; Всего моделей техники : &nbsp;
                <div th:text="${devices.size()}"></div>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="col-12">
                    <table id="devices" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Техника ID</th>
                            <th scope="col">Модель техники</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(devices)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="device : ${devices}">
                            <th scope="row" th:text="*{device.getDevice_id()}"></th>
                            <td th:text="${device.getDevice_name()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a th:href="@{findDevice/(*{device.getDevice_id()})}"
                                       class="btn btn-outline-warning editDeviceBtn"
                                       data-bs-toggle="modal" data-bs-target="#editDeviceModal">Редкатировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/repair-service/management/delete-device/{id}(id=${device.device_id})}"
                                    >Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <!-- Button trigger modal  Edit Device -->
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-primary deviceModalBtn"
                                data-bs-toggle="modal" data-bs-target="#editDeviceModal">
                            Добавить новую технику
                        </button>
                    </div>
                    <!-- Modal Edit Device -->
                    <form th:action="@{/repair-service/management/create-device/}" method="post">
                        <div th:insert="modals/deviceEditFragment"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong>Типы клиентов</strong> &nbsp; Всего типов клиентов : &nbsp;
                <div th:text="${clientTypes.size()}"></div>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="col-12">
                    <table id="clientsTypes" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Тип клиента ID</th>
                            <th scope="col">Тип клиента</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(clientTypes)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="clientType : ${clientTypes}">
                            <th scope="row" th:text="*{clientType.getClient_type_id()}"></th>
                            <td th:text="${clientType.getClient_type_name()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a th:href="@{findClientType/(*{clientType.client_type_id})}"
                                       class="btn btn-outline-warning editClientTypeBtn"
                                       data-bs-toggle="modal"
                                       data-bs-target="#editClientTypeModal">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/repair-service/management/delete-client-type/{id}(id=${clientType.client_type_id})}">Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <!-- Button trigger modal  Edit Client Type -->
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-primary clientTypeModalBtn"
                                data-bs-toggle="modal" data-bs-target="#editClientTypeModal">
                            Добавить новый тип клиента
                        </button>
                    </div>
                    <!-- Modal  Edit Client Type -->
                    <form th:action="@{/repair-service/management/create-client-type/}" method="post">
                        <div th:insert="modals/clientTypeEditFragment"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <strong>Виды ремонтов</strong> &nbsp; Всего типов ремонтов :&nbsp;
                <div th:text="${repairTypes.size()}"></div>
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="col-12">
                    <table id="repairsTypes" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Вид ремонта ID</th>
                            <th scope="col">Вид ремонта</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(repairTypes)}">
                            <td class="text-center" colspan="5">нет информации</td>
                        </tr>
                        <tr th:each="repairType : ${repairTypes}">
                            <th scope="row" th:text="*{repairType.getRepair_type_id()}"></th>
                            <td th:text="${repairType.getRepair_type_name()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a th:href="@{findRepairType/(*{repairType.getRepair_type_id()})}"
                                       class="btn btn-outline-warning editRepairTypeBtn"
                                       data-bs-toggle="modal"
                                       data-bs-target="#editRepairTypeModal">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/repair-service/management/delete-repair-type/{id}(id=${repairType.repair_type_id})}">Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <!-- Button trigger modal  Edit Repair Type -->
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-primary repairTypeModalBtn"
                                data-bs-toggle="modal" data-bs-target="#editRepairTypeModal">
                            Добавить новый вид ремонта
                        </button>
                    </div>
                    <!-- Modal Edit Edit Repair Type -->
                    <form th:action="@{/repair-service/management/create-repair-type/}" method="post">
                        <div th:insert="modals/repairTypeEditFragment"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <strong>Статусы заказа</strong> &nbsp; Всего статусов :&nbsp;
                <div th:text="${repairStatuses.size()}"></div>
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="col-12">
                    <table id="statuses" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Статус ID</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(repairStatuses)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="status : ${repairStatuses}">
                            <th scope="row" th:text="*{status.getStatus_id()}"></th>
                            <td th:text="${status.getStatus_name()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a th:href="@{findStatus/(*{status.getStatus_id()})}"
                                       class="btn btn-outline-warning editStatusBtn"
                                       data-bs-toggle="modal" data-bs-target="#editStatusModal">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/repair-service/management/delete-status/{id}(id=${status.getStatus_id()})}">Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <!-- Button trigger modal  Edit Status -->
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-primary statusModalBtn"
                                data-bs-toggle="modal" data-bs-target="#editStatusModal">
                            Добавить новый статус
                        </button>
                    </div>
                    <!-- Modal Edit Edit Status -->
                    <form th:action="@{/repair-service/management/create-status/}" method="post">
                        <div th:insert="/modals/repairStatusFragment"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>