<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/custom/pagesTemplate :: css-head"></div>
    <div th:replace="/custom/pagesTemplate :: js-head"></div>
    <script src="../static/js/management.js" th:src="@{../js/management.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Управление</title>
</head>
<body>
<div th:replace="~{/custom/pagesTemplate :: nav-bar(Управление)}"></div>
<div class="accordion" id="accordionExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button"
                    data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
                <strong>Клиенты</strong> &nbsp; Всего клиентов : &nbsp;
                <div th:text="${clients.size()}"></div>
            </button>
        </h2>
        <div aria-labelledby="headingOne" class="accordion-collapse collapse show"
             data-bs-parent="#accordionExample"
             id="collapseOne">
            <div class="accordion-body">
                <div class="col-12">
                    <div>
                        <form method="post" th:action="@{/repair-service/management/create-client}"
                              th:object="${clientDTO}">
                            <div class="row">
                                <div class="col">
                                    <select class="form-select" id="dropClientType" th:object="${clientTypes}"
                                    >
                                        <option value="0">Выберите тип клиента</option>
                                        <option th:each="clientType : ${clientTypes}"
                                                th:required="required"
                                                th:text="${clientType.clientTypeName}"
                                                th:value="${clientType.clientTypeId}"></option>
                                    </select>
                                    <div class="error" th:errors="*{clientTypeId}"
                                         th:if="${#fields.hasErrors('clientTypeId')}"/>
                                    <input class="form-control" id="clientType"
                                           name="clientTypeId" type="hidden" value=""/>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input class="form-control" id="clientContact"
                                               name="clientContact"
                                               placeholder="Контактное лицо" type="text" value=""/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input class="form-control" id="clientPhone"
                                               name="clientPhone"
                                               pattern="+7[0-9]{10}"
                                               placeholder="Телефон +71234567890" type="text" value=""/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input class="form-control" id="clientMail"
                                               name="clientMail"
                                               placeholder="E-mail" type="email" value=""/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input aria-describedby="button-addon1" aria-label="client name"
                                               class="form-control"
                                               id="clientName" name="clientName" placeholder="Клиент"
                                               th:field="*{clientName}" type="text"
                                               value=""
                                        />
                                        <button class="btn btn-outline-secondary" id="button-addon1"
                                                type="submit">Добавить клиента
                                        </button>
                                    </div>
                                    <div class="error" th:errors="*{clientName}"
                                         th:if="${#fields.hasErrors('clientName')}"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <table class="table table-hover" id="clients">
                        <thead>
                        <tr>
                            <th scope="col">Клиент ID</th>
                            <th scope="col">Имя\Название клиента</th>
                            <th scope="col">Тип клиента</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(clients)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="client : ${clients}">
                            <th scope="row" th:text="*{client.getClientId()}"></th>
                            <td th:text="${client.getClientName()}"></td>
                            <td th:text="${client.getClientType().getClientTypeName()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-info fullInfoClientBtn"
                                       data-bs-target="#clientCardModal"
                                       data-bs-toggle="modal" data-placement="top" data-toggle="tooltip"
                                       th:href="@{findClient/(*{client.clientId})}" title="Полная информация"><i
                                            class="fa-regular fa-folder-open"></i></a>
                                    <a class="btn btn-outline-secondary editClientBtn" data-bs-target="#editClientModal"
                                       data-bs-toggle="modal" data-placement="top"
                                       data-toggle="tooltip"
                                       th:href="@{findClient/(*{client.clientId})}" title="Редактировать"><i
                                            class="fa-regular fa-pen-to-square"></i></a>
                                    <a class="btn btn-outline-secondary clientFilesBtn" data-bs-target="#clientFiles"
                                       data-bs-toggle="modal" data-placement="top" data-toggle="tooltip"
                                       title="Открыть документы">
                                        <i class="fa-solid fa-book"></i></a>
                                    <a class="btn btn-outline-danger" data-placement="top" data-toggle="tooltip"
                                       th:href="@{/repair-service/management/delete-client/{id}(id=${client.clientId})}"
                                       title="Удалить">
                                        <i class="fa-solid fa-folder-minus"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
                <strong>Техника</strong> &nbsp; Всего моделей техники : &nbsp;
                <div th:text="${devices.size()}"></div>
            </button>
        </h2>
        <div aria-labelledby="headingTwo" class="accordion-collapse show"
             data-bs-parent="#accordionExample"
             id="collapseTwo">
            <div class="accordion-body">
                <div>
                    <form class="row" method="post" th:action="@{/repair-service/management/create-device/}"
                          th:object="${deviceDTO}">
                        <div class="input-group mb-3">
                            <input aria-describedby="button-addon2" aria-label="device name" class="form-control"
                                   id="deviceName" name="deviceName" placeholder="Введите название или модель техники"
                                   required="required"
                                   th:field="*{deviceName}" type="text"
                                   value=""
                            />
                            <button class="btn btn-outline-secondary"
                                    id="button-addon2" type="submit">Добавить модель техники
                            </button>
                        </div>
                        <div class="error" th:errors="*{deviceName}" th:if="${#fields.hasErrors('deviceName')}"/>
                    </form>
                </div>
                <br>
                <div class="col-12">
                    <table class="table table-hover" id="devices">
                        <thead>
                        <tr>
                            <th scope="col">Техника ID</th>
                            <th scope="col">Модель техники</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(devices)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="device : ${devices}">
                            <th scope="row" th:text="*{device.getDeviceId()}"></th>
                            <td th:text="${device.getDeviceName()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-warning editDeviceBtn"
                                       data-bs-target="#editDeviceModal"
                                       data-bs-toggle="modal" th:href="@{findDevice/(*{device.getDeviceId()})}">Редкатировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/repair-service/management/delete-device/{id}(id=${device.deviceId})}"
                                    >Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button aria-controls="collapseThree" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">
                <strong>Типы клиентов</strong> &nbsp; Всего типов клиентов : &nbsp;
                <div th:text="${clientTypes.size()}"></div>
            </button>
        </h2>
        <div aria-labelledby="headingThree" class="accordion-collapse show"
             data-bs-parent="#accordionExample"
             id="collapseThree">
            <div class="accordion-body">
                <div class="col-12">
                    <div>
                        <form class="row" method="post"
                              th:action="@{/repair-service/management/create-client-type/}"
                              th:object="${clientTypeDTO}">
                            <div class="input-group mb-3">
                                <input aria-describedby="button-addon3" aria-label="client type name"
                                       class="form-control"
                                       id="clientTypeName" name="clientTypeName" placeholder="Введите тип клиента"
                                       required="required"
                                       th:field="*{clientTypeName}" type="text"
                                       value=""
                                />
                                <button class="btn btn-outline-secondary"
                                        id="button-addon3" type="submit">Добавить тип клиента
                                </button>
                            </div>
                            <div class="error" th:errors="*{clientTypeName}"
                                 th:if="${#fields.hasErrors('clientTypeName')}"/>
                        </form>
                    </div>
                    <br>
                    <table class="table table-hover" id="clientsTypes">
                        <thead>
                        <tr>
                            <th scope="col">Тип клиента ID</th>
                            <th scope="col">Тип клиента</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(clientTypes)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="clientType : ${clientTypes}">
                            <th scope="row" th:text="*{clientType.getClientTypeId()}"></th>
                            <td th:text="${clientType.getClientTypeName()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-warning editClientTypeBtn"
                                       data-bs-target="#editClientTypeModal"
                                       data-bs-toggle="modal"
                                       th:href="@{findClientType/(*{clientType.clientTypeId})}">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/repair-service/management/delete-client-type/{id}(id=${clientType.clientTypeId})}">Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button aria-controls="collapseFour" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseFour" data-bs-toggle="collapse" type="button">
                <strong>Виды ремонтов</strong> &nbsp; Всего типов ремонтов :&nbsp;
                <div th:text="${repairTypes.size()}"></div>
            </button>
        </h2>
        <div aria-labelledby="headingFour" class="accordion-collapse show"
             data-bs-parent="#accordionExample"
             id="collapseFour">
            <div class="accordion-body">
                <div>
                    <form class="row" method="post"
                          th:action="@{/repair-service/management/create-repair-type/}" th:object="${repairTypeDTO}">
                        <div class="input-group mb-3">
                            <input aria-describedby="button-addon4" aria-label="repair type name" class="form-control"
                                   id="repairTypeName" name="repairTypeName" placeholder="Введите тип ремонта"
                                   required="required"
                                   th:field="*{repairTypeName}" type="text"
                                   value=""
                            />
                            <button class="btn btn-outline-secondary"
                                    id="button-addon4" type="submit">Добавить тип ремонта
                            </button>
                        </div>
                        <div class="error" th:errors="*{repairTypeName}"
                             th:if="${#fields.hasErrors('repairTypeName')}"/>
                    </form>
                </div>
                <br>
                <div class="col-12">
                    <table class="table table-hover" id="repairsTypes">
                        <thead>
                        <tr>
                            <th scope="col">Вид ремонта ID</th>
                            <th scope="col">Вид ремонта</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(repairTypes)}">
                            <td class="text-center" colspan="5">нет информации</td>
                        </tr>
                        <tr th:each="repairType : ${repairTypes}">
                            <th scope="row" th:text="*{repairType.getRepairTypeId()}"></th>
                            <td th:text="${repairType.getRepairTypeName()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-warning editRepairTypeBtn"
                                       data-bs-target="#editRepairTypeModal"
                                       data-bs-toggle="modal"
                                       th:href="@{findRepairType/(*{repairType.getRepairTypeId()})}">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/repair-service/management/delete-repair-type/{id}(id=${repairType.repairTypeId})}">Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button aria-controls="collapseFive" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseFive" data-bs-toggle="collapse" type="button">
                <strong>Статусы заказа</strong> &nbsp; Всего статусов :&nbsp;
                <div th:text="${repairStatuses.size()}"></div>
            </button>
        </h2>
        <div aria-labelledby="headingFive" class="accordion-collapse show"
             data-bs-parent="#accordionExample"
             id="collapseFive">
            <div class="accordion-body">
                <div class="col-12">
                    <div>
                        <form class="row" method="post"
                              th:action="@{/repair-service/management/create-status/}" th:object="${repairStatusDTO}">
                            <div class="input-group mb-3">
                                <input aria-describedby="button-addon5" aria-label="status name" class="form-control"
                                       id="statusName" name="statusName" placeholder="Введите статус заказа"
                                       required="required"
                                       th:field="*{statusName}" type="text"
                                       value=""
                                />
                                <button class="btn btn-outline-secondary"
                                        id="button-addon5" type="submit">Добавить статус заказа
                                </button>
                            </div>
                            <div class="error" th:errors="*{statusName}" th:if="${#fields.hasErrors('statusName')}"/>
                        </form>
                    </div>
                    <br>
                    <table class="table table-hover" id="statuses">
                        <thead>
                        <tr>
                            <th scope="col">Статус ID</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(repairStatuses)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="status : ${repairStatuses}">
                            <th scope="row" th:text="*{status.getStatusId()}"></th>
                            <td th:text="${status.getStatusName()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-warning editStatusBtn"
                                       data-bs-target="#editStatusModal"
                                       data-bs-toggle="modal" th:href="@{findStatus/(*{status.getStatusId()})}">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/repair-service/management/delete-status/{id}(id=${status.getStatusId()})}">Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Client card -->
<div th:replace="/custom/modals :: clientCard"></div>
<!-- Modal Client files -->
<div th:replace="~{/custom/modals :: clientFiles}"></div>
</body>
</html>