<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">

<html lang="en">
<head>
    <!-- Required meta tags -->
    <div th:replace="~{/custom/pagesTemplate :: css-head}"></div>
    <div th:replace="~{/custom/pagesTemplate :: js-head}"></div>
    <script th:src="@{/js/dataTable.js}" src="/static/js/dataTable.js"></script>
    <script th:src="@{/js/stat.js}" src="../static/js/stat.js"></script>

    <title>Расходы</title>


</head>

<body>
<div th:replace="~{/custom/pagesTemplate :: nav-bar(Расходы)}"></div>
<br>
<div class="accordion" id="accordionExample1">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne1">
            <button class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne1"
                    aria-expanded="true"
                    aria-controls="collapseOne1">
                <strong>Статьи расходов</strong> &nbsp;
                Всего записей : &nbsp;
                <div th:text="${items.size()}"></div>
            </button>
        </h2>
        <div id="collapseOne1"
             class="accordion-collapse collapse show"
             aria-labelledby="headingOne1"
             data-bs-parent="#accordionExample1">
            <div class="accordion-body">
                <div>
                    <form class="row" th:action="@{/stat/saveItem}" th:object="${itemDTO}" method="post">
                        <div class="input-group mb-3"  >
                            <input type="text" class="form-control" placeholder="Введите название статьи расходов"
                                   id="itemName" name="itemName" value="" required="required"
                                   aria-label="item name" aria-describedby="button-addon2"
                                   th:field="*{itemName}"
                            />
                            <button class="btn btn-outline-secondary"
                                    type="submit" id="button-addon1">Добавить статью</button>
                        </div>
                        <div th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="error"/>
                    </form>
                </div>
                <br>
                <div class="col-12">
                    <table id="itms" class="table table-hover">
                        <thead>
                        <tr class="bg-light">
                            <th scope="col">ID</th>
                            <th scope="col">Статья расходов</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(items)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="itemList : ${items}">
                            <th scope="row"
                                th:text="${itemList.getItemId()}"></th>
                            <td th:text="${itemList.getItemName()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a th:href="@{findItem/(*{itemList.itemId})}"
                                       class="btn btn-outline-warning editOutlayBtn"
                                       data-bs-toggle="modal"
                                       data-bs-target="#editOutlayModal">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/stat/deleteItem/{id}(id=${itemList.itemId})}">
                                        Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="accordion" id="accordionExample2">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne2">
            <button class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne2"
                    aria-expanded="true"
                    aria-controls="collapseOne2">
                <strong>Подстатьи расходов</strong> &nbsp;
                Всего записей : &nbsp;
                <div th:text="${subItems.size()}"></div>
            </button>
        </h2>
        <div id="collapseOne2"
             class="accordion-collapse collapse show"
             aria-labelledby="headingOne2"
             data-bs-parent="#accordionExample1">
            <div class="accordion-body">
                <div class="col-12">
                    <div>
                        <form class="row" th:action="@{/stat/saveSubItem}" th:object="${subItemDTO}" method="post">
                            <div class="col">
                                <select class="form-select"
                                        id="dropItems"
                                        th:object="${items}"
                                        onchange="update6()">
                                    <option value="0">Выбрать статью</option>
                                    <option th:each="item : ${items}"
                                            th:value="${item.itemId}"
                                            th:text="${item.itemName}"></option>
                                </select>
                                <div th:if="${#fields.hasErrors('itemsItemId')}" th:errors="*{itemsItemId}" class="error"/>

                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Введите название подстатьи"
                                           id="subitemName" name="subitemName" value=""
                                           aria-label="sub item name" aria-describedby="button-addon2"
                                           th:field="*{subitemName}"
                                    />
                                    <button class="btn btn-outline-secondary" type="submit"
                                            id="button-addon2">Добавить подстатью</button>
                                </div>
                                <div th:if="${#fields.hasErrors('subitemName')}" th:errors="*{subitemName}" class="error"/>
                            </div>
                            <input type="hidden" class="form-control"
                                   id="itemsItemId" name="itemsItemId" value=""/>
                            <input type="hidden" class="form-control"
                                   id="subitemId" name="subitemId" value=""/>
                        </form>
                    </div>
                    <table id="subitms" class="table table-hover">
                        <thead>
                        <tr class="bg-light">
                            <th scope="col">ID</th>
                            <th scope="col">Подстатья расходов</th>
                            <th scope="col">Статья расходов</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(subItems)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="subitemList : ${subItems}">
                            <th scope="row"
                                th:text="${subitemList.getSubitemId()}"></th>
                            <td th:text="${subitemList.getSubitemName()}"></td>
                            <td th:text="${subitemList.getItem().getItemName()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a th:href="@{findSubitem/(*{subitemList.subitemId})}"
                                       class="btn btn-outline-warning editOutlayBtn"
                                       data-bs-toggle="modal"
                                       data-bs-target="#editOutlayModal">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/stat/deleteSubItem/{id}(id=${subitemList.subitemId})}">
                                        Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne">
                    <strong>Траты</strong> &nbsp;
                    Всего записей : &nbsp;
                <div th:text="${outlays.size()}"></div>
            </button>
        </h2>
        <div id="collapseOne"
             class="accordion-collapse collapse show"
             aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form id="outlaySubmit" th:object="${outlayDTO}" th:action="@{/stat/saveOutlay}" method="post">
                    <div class="row">
                        <div class="col">
                            <select class="form-select"
                                    id="dropItemsId"
                                    name="dropItemsName"
                                    onchange="update7()"
                                    required
                            >
                                <option value="">Выбрать статью</option>
                            </select>
                            <div th:if="${#fields.hasErrors('itemsItemId')}" th:errors="*{itemsItemId}" class="error"/>
                        </div>
                        <div class="col">
                            <select class="form-select"
                                    id="dropSubItemsId"
                                    name="dropSubItemsName"
                                    onchange="update8()"
                                    required
                            >
                                <option selected value="">Выбрать подстатью</option>
                            </select>
                            <div th:if="${#fields.hasErrors('subitemsSubitemId')}" th:errors="*{subitemsSubitemId}"
                                 class="error"/>
                        </div>
                        <div class="col">
                            <input type="date" class="form-control" required="required"
                                   id="date" name="date" value="" placeholder="укажите дату"/>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control"
                                   id="price" placeholder="Enter price"
                                   th:field="*{price}"
                            />
                            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Описание затрат"
                                       id="description"
                                       aria-label="outlay description" aria-describedby="button-addon3"
                                       th:field="*{description}"
                                />
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon3">Добавить
                                    расходы
                                </button>
                            </div>
                            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"/>
                        </div>
                    </div>
                    <input type="hidden" class="form-control"
                           id="itemsItemId0" name="itemsItemId" value=""/>
                    <input type="hidden" class="form-control"
                           id="subitemsSubitemId" name="subitemsSubitemId" value=""/>
                </form>
                <br>
                <div class="col-12">
                    <table id="stats" class="table table-hover">
                        <thead>
                        <tr class="bg-light">
                            <th scope="col">Статья расходов</th>
                            <th scope="col">Подстатья расходов</th>
                            <th scope="col">Описание</th>
                            <th scope="col">Сумма</th>
                            <th scope="col">Дата</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(outlays)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="outlayList : ${outlays}">
                            <th scope="row"
                                th:text="${outlayList.getSubItem().getItem().getItemName()}"></th>
                            <td th:text="${outlayList.getSubItem().getSubitemName()}"></td>
                            <td th:text="${outlayList.description}"></td>
                            <td th:text="${outlayList.price}"></td>
                            <td th:text="${outlayList.date}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a th:href="@{findOutlay/(*{outlayList.outlayId})}"
                                       class="btn btn-outline-warning editOutlayBtn"
                                       data-bs-toggle="modal"
                                       data-bs-target="#editOutlayModal">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/stat/deleteOutlay/{id}(id=${outlayList.outlayId})}">
                                        Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>