<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<html lang="en">
<head>
    <div th:replace="~{/custom/pagesTemplate :: css-head}"></div>
    <div th:replace="~{/custom/pagesTemplate :: js-head}"></div>
    <script src="../static/js/stat.js" th:src="@{/js/stat.js}"></script>
    <title>Расходы</title>
</head>
<body>
<div th:replace="~{/custom/pagesTemplate :: nav-bar(Расходы)}"></div>
<br>
<div class="accordion" id="accordionExample1">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne1">
            <button aria-controls="collapseOne1"
                    aria-expanded="true"
                    class="accordion-button"
                    data-bs-target="#collapseOne1"
                    data-bs-toggle="collapse"
                    type="button">
                <strong>Статьи расходов</strong> &nbsp;
                Всего записей : &nbsp;
                <div th:text="${items.size()}"></div>
            </button>
        </h2>
        <div aria-labelledby="headingOne1"
             class="accordion-collapse collapse show"
             data-bs-parent="#accordionExample1"
             id="collapseOne1">
            <div class="accordion-body">
                <div>
                    <form class="row" method="post" th:action="@{/stat/saveItem}" th:object="${itemDTO}">
                        <div class="input-group mb-3">
                            <input aria-describedby="button-addon2" aria-label="item name" class="form-control"
                                   id="itemName" minlength="2" maxlength="255" name="itemName"
                                   placeholder="Введите название статьи расходов" required="required"
                                   th:field="*{itemName}" type="text"
                                   value=""
                            />
                            <button class="btn btn-outline-secondary"
                                    id="button-addon1" type="submit">Добавить статью
                            </button>
                        </div>
                        <div class="error" th:errors="*{itemName}" th:if="${#fields.hasErrors('itemName')}"/>
                    </form>
                </div>
                <br>
                <div class="col-12">
                    <table class="table table-hover" id="itms">
                        <thead>
                        <tr class="bg-light">
                            <th scope="col">ID</th>
                            <th scope="col">Статья расходов</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(items)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="itemList : ${items}">
                            <th scope="row"
                                th:text="${itemList.getItemId()}"></th>
                            <td th:text="${itemList.getItemName()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-warning editOutlayBtn"
                                       data-bs-target="#editOutlayModal"
                                       data-bs-toggle="modal"
                                       th:href="@{findItem/(*{itemList.itemId})}">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/stat/deleteItem/{id}(id=${itemList.itemId})}">
                                        Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="accordion" id="accordionExample2">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne2">
            <button aria-controls="collapseOne2"
                    aria-expanded="true"
                    class="accordion-button"
                    data-bs-target="#collapseOne2"
                    data-bs-toggle="collapse"
                    type="button">
                <strong>Подстатьи расходов</strong> &nbsp;
                Всего записей : &nbsp;
                <div th:text="${subItems.size()}"></div>
            </button>
        </h2>
        <div aria-labelledby="headingOne2"
             class="accordion-collapse collapse show"
             data-bs-parent="#accordionExample1"
             id="collapseOne2">
            <div class="accordion-body">
                <div class="col-12">
                    <div>
                        <form class="row" method="post" th:action="@{/stat/saveSubItem}" th:object="${subItemDTO}">
                            <div class="col">
                                <select class="form-select"
                                        id="dropItems"
                                        onchange="update6()"
                                        required
                                        th:object="${items}"
                                >
                                    <option value="0">Выбрать статью</option>
                                    <option th:each="item : ${items}"
                                            th:text="${item.itemName}"
                                            th:value="${item.itemId}"></option>
                                </select>
                                <div class="error" th:errors="*{itemsItemId}"
                                     th:if="${#fields.hasErrors('itemsItemId')}"/>

                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input aria-describedby="button-addon2" aria-label="sub item name"
                                           class="form-control"
                                           id="subitemName" maxlength="255" minlength="2" name="subitemName"
                                           placeholder="Введите название подстатьи" required="required"
                                           th:field="*{subitemName}" type="text"
                                           value=""
                                    />
                                    <button class="btn btn-outline-secondary" id="button-addon2"
                                            type="submit">Добавить подстатью
                                    </button>
                                </div>
                                <div class="error" th:errors="*{subitemName}"
                                     th:if="${#fields.hasErrors('subitemName')}"/>
                            </div>
                            <input class="form-control" id="itemsItemId"
                                   name="itemsItemId" type="hidden" value=""/>
                            <input class="form-control" id="subitemId"
                                   name="subitemId" type="hidden" value=""/>
                        </form>
                    </div>
                    <table class="table table-hover" id="subitms">
                        <thead>
                        <tr class="bg-light">
                            <th scope="col">ID</th>
                            <th scope="col">Подстатья расходов</th>
                            <th scope="col">Статья расходов</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(subItems)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="subitemList : ${subItems}">
                            <th scope="row"
                                th:text="${subitemList.getSubitemId()}"></th>
                            <td th:text="${subitemList.getSubitemName()}"></td>
                            <td th:text="${subitemList.getItem().getItemName()}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-warning editOutlayBtn"
                                       data-bs-target="#editOutlayModal"
                                       data-bs-toggle="modal"
                                       th:href="@{findSubitem/(*{subitemList.subitemId})}">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/stat/deleteSubItem/{id}(id=${subitemList.subitemId})}">
                                        Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button aria-controls="collapseOne"
                    aria-expanded="true"
                    class="accordion-button"
                    data-bs-target="#collapseOne"
                    data-bs-toggle="collapse"
                    type="button">
                <strong>Траты</strong> &nbsp;
                Всего записей : &nbsp;
                <div th:text="${outlays.size()}"></div>
            </button>
        </h2>
        <div aria-labelledby="headingOne"
             class="accordion-collapse collapse show"
             data-bs-parent="#accordionExample"
             id="collapseOne">
            <div class="accordion-body">
                <form id="outlaySubmit" method="post" th:action="@{/stat/saveOutlay}" th:object="${outlayDTO}">
                    <div class="row">
                        <div class="col">
                            <select class="form-select"
                                    id="dropItemsId"
                                    name="dropItemsName"
                                    onchange="update7()"
                                    required
                            >
                                <option value="">Выбрать статью</option>
                            </select>
                            <div class="error" th:errors="*{itemsItemId}" th:if="${#fields.hasErrors('itemsItemId')}"/>
                        </div>
                        <div class="col">
                            <select class="form-select"
                                    id="dropSubItemsId"
                                    name="dropSubItemsName"
                                    onchange="update8()"
                                    required
                            >
                                <option selected value="">Выбрать подстатью</option>
                            </select>
                            <div class="error" th:errors="*{subitemsSubitemId}"
                                 th:if="${#fields.hasErrors('subitemsSubitemId')}"/>
                        </div>
                        <div class="col">
                            <input class="form-control" id="date" name="date"
                                   placeholder="Укажите дату" required="required" type="date" value=""/>
                        </div>
                        <div class="col">
                            <input class="form-control" id="price"
                                   min="0" placeholder="Введите сумму"
                                   step="0.1" th:field="*{price}"
                                   type="number"
                            />
                            <div class="error" th:errors="*{price}" th:if="${#fields.hasErrors('price')}"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <input aria-describedby="button-addon3" aria-label="outlay description"
                                       class="form-control"
                                       id="description" maxlength="255" minlength="3"
                                       placeholder="Описание затрат" th:field="*{description}"
                                       type="text"
                                />
                                <button class="btn btn-outline-secondary" id="button-addon3" type="submit">Добавить
                                    расходы
                                </button>
                            </div>
                            <div class="error" th:errors="*{description}" th:if="${#fields.hasErrors('description')}"/>
                        </div>
                    </div>
                    <input class="form-control" id="itemsItemId0"
                           name="itemsItemId" type="hidden" value=""/>
                    <input class="form-control" id="subitemsSubitemId"
                           name="subitemsSubitemId" type="hidden" value=""/>
                </form>
                <br>
                <div class="col-12">
                    <table class="table table-hover" id="stats">
                        <thead>
                        <tr class="bg-light">
                            <th scope="col">Статья расходов</th>
                            <th scope="col">Подстатья расходов</th>
                            <th scope="col">Описание</th>
                            <th scope="col">Сумма</th>
                            <th scope="col">Дата</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(outlays)}">
                            <td class="text-center" colspan="5">Нет информации</td>
                        </tr>
                        <tr th:each="outlayList : ${outlays}">
                            <th scope="row"
                                th:text="${outlayList.getSubItem().getItem().getItemName()}"></th>
                            <td th:text="${outlayList.getSubItem().getSubitemName()}"></td>
                            <td th:text="${outlayList.description}"></td>
                            <td th:text="${outlayList.price}"></td>
                            <td th:text="${outlayList.date}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-warning editOutlayBtn"
                                       data-bs-target="#editOutlayModal"
                                       data-bs-toggle="modal"
                                       th:href="@{findOutlay/(*{outlayList.outlayId})}">Редактировать</a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/stat/deleteOutlay/{id}(id=${outlayList.outlayId})}">
                                        Удалить</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>